body {
    background-color: hsla(200, 5%, 95%, 1);
}

.card {
    width: 30%;
    min-width: 250px;
    max-width: 300px;
    background-color: #ffffff;
    color: hsla(0, 0%, 20%, 1);
    border-radius: 5px;
    box-shadow: 1px 1px 5px hsla(0, 0%, 0%, 0.7);
    height: 680px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    text-align: left;
    word-wrap: break-word;
    padding: 1rem;
    line-height: 2;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
span {
    margin-left: 5px;
    color: hsla(0, 0%, 0%, 1);
    border-radius: 5px;
    padding: 4px 2px 2px 2px;
    box-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.7);
    background-color: hsla(360, 100%, 100%, 0.9);
    font-family: monospace;
    border: 1px solid #eeeeee;
}
.card::first-line {
    font-weight: 900;
}
h2 {
    clear: both;
    padding-top: 3rem;
}
h1 {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3), -2px -2px 0 rgba(0, 0, 0, 0.7);
    color: rgba(0, 0, 0, 0.2);
}

/** css loader */
/** css-spinners.com */

@-moz-keyframes timer-loader {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes timer-loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes timer-loader {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* :not(:required) hides this rule from IE9 and below */
 .timer-loader:not(:required) {
    border: 6px solid #2c9b65;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-indent: -9999px;
    width: 48px;
    height: 48px;
}
.timer-loader:not(:required)::before {
    -moz-animation: timer-loader 1250ms infinite linear;
    -webkit-animation: timer-loader 1250ms infinite linear;
    animation: timer-loader 1250ms infinite linear;
    -moz-transform-origin: 3px 3px;
    -ms-transform-origin: 3px 3px;
    -webkit-transform-origin: 3px 3px;
    transform-origin: 3px 3px;
    background-color: #2c9b65;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    content:'';
    display: block;
    position: absolute;
    width: 6px;
    height: 19.2px;
    left: 15px;
    top: 15px;
}
.timer-loader:not(:required)::after {
    -moz-animation: timer-loader 15000ms infinite linear;
    -webkit-animation: timer-loader 15000ms infinite linear;
    animation: timer-loader 15000ms infinite linear;
    -moz-transform-origin: 3px 3px;
    -ms-transform-origin: 3px 3px;
    -webkit-transform-origin: 3px 3px;
    transform-origin: 3px 3px;
    background-color: #2c9b65;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    content:'';
    display: block;
    position: absolute;
    width: 6px;
    height: 16px;
    left: 15px;
    top: 15px;
}
