.card {
    width: 30%;
    min-width: 250px;
    max-width: 300px;
    background-color: hsla(197, 46%, 81%, 1);
    color: hsla(0, 0%, 20%, 1);
    border-radius: 5px;
    box-shadow: 1px 1px 5px hsla(0, 0%, 0%, 0.7);
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    word-wrap: break-word;
    padding: 1rem;
    line-height: 1.5;
}
span {
    margin-left: 5px;
    color: hsla(0, 0%, 0%, 1);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.7);
    background-color: hsla(360, 100%, 100%, 0.9);
}

h2 {
    line-height: 1;
}
