.card {
    width: 30%;
    min-width: 250px;
    max-width: 300px;
    background-color: hsla(200, 5%, 95%, 1);
    color: hsla(0, 0%, 20%, 1);
    border-radius: 5px;
    box-shadow: 1px 1px 5px hsla(0, 0%, 0%, 0.7);
    height: 400px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    text-align: left;
    word-wrap: break-word;
    padding: 1rem;
    line-height: 1.75;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
span {
    margin-left: 5px;
    color: hsla(0, 0%, 0%, 1);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.7);
    background-color: hsla(360, 100%, 100%, 0.9);
}
.card::first-line {
    font-weight: 900;
}
h2 {
    clear: both;
}
